# Bus Data Analysis

### Executive Summary

asdasdasd

### Introduction

This project focuses on the analysis of Bus trip duration to determine which bus service between 870 and 992 would be better to travel out of Tengah new town using the Hypothesis Testing on both samples.

### Dataset Origin

Both dataset are generated from Numpy to ensure both dataset passes the Normality test in Minitab.

The source code on how would each dataset being generated is in [this link](https://github.com/AngKokLeong/Bus-Data-Analysis/blob/master/data_generator.py) .

Each synthetic data column are generated using Numpy library with this method [numpy.random.normal](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html).

Three synthetic data columns are then combined together to form One Pandas DataFrame for the ease of exporting the data into CSV file.

### Data Dictionary

There are three features in this dataset.

Trip Durations
- Data Type: Float
- The total duration of the Bus Trip from end to end

Number of Passengers
- Data Type: Integer
- Total Number of Passengers in the Bus Trip

Distances
- Data Type: Float
- Total Distance of the Bus Trip from end to end

### Types of Bus in the bus service 870 or 992

### Test Setup

In [2]:
import pandas
import matplotlib

In [7]:
# Loading data into pandas dataframe

bus_870_dataframe: pandas.DataFrame = pandas.read_csv("bus_870_synthetic_data.csv", usecols=["trip_durations", "num_passengers", "distances"])
bus_992_dataframe: pandas.DataFrame = pandas.read_csv("bus_992_synthetic_data.csv", usecols=["trip_durations", "num_passengers", "distances"])

### Exploratory Data Analysis for the dataset of Bus 870

#### Five Number Summary for trip_durations in the dataset of Bus 870

In [9]:
bus_870_dataframe["trip_durations"].describe()

count    1000.000000
mean       49.803567
std         9.700306
min        21.621896
25%        43.530195
50%        50.035017
75%        56.491883
max        78.905421
Name: trip_durations, dtype: float64

#### Five Number Summary for num_passengers in the dataset of Bus 870

In [10]:
bus_870_dataframe["num_passengers"].describe()

count    1000.000000
mean       49.987717
std         5.090011
min        32.987347
25%        46.310064
50%        50.007775
75%        53.354970
max        66.026128
Name: num_passengers, dtype: float64

#### Five Number Summary for distances in the dataset of Bus 870

In [11]:
bus_870_dataframe["distances"].describe()

count    1000.000000
mean        6.505443
std         2.716509
min         0.014000
25%         4.704443
50%         6.544661
75%         8.360032
max        14.901317
Name: distances, dtype: float64

####